{% block sw_condition_value_content %}
    <div>
    {% block sw_text_field %}
        <sw-text-field id="zip-code-from"
                         name="zip-code-from"
                       placeholder="Zip Code From"
                        size="small"
                        v-model="zipCodeFrom"
                        class="field--main"
                        :disabled="disabled">
        </sw-text-field>
        {% endblock %}
{% block sw_text_field %}
        <sw-text-field id="zip-code-to"
                         name="zip-code-to"
                       placeholder="Zip Code To"
                        size="small"
                        v-model="zipCodeTo"
                        class="field--main"
                       :disabled="disabled">
        </sw-text-field>
{% endblock %}
    </div>
{% endblock %}
