{% block sw_condition_value_content %}
    <div>
    {% block sw_text_field_from %}
        <sw-arrow-field>
        <sw-text-field placeholder="Zip Code From"
                        size="small"
                        v-model="zipCodeFrom"
                        class="field--main">
        </sw-text-field>
        </sw-arrow-field>
        {% endblock %}
{% block sw_text_field_to %}
        <sw-arrow-field>
        <sw-text-field placeholder="Zip Code To"
                        size="small"
                        v-model="zipCodeTo"
                        class="field--main">
        </sw-text-field>
        </sw-arrow-field>
{% endblock %}
    </div>
{% endblock %}
